// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.body {
  color: yellow;
}


.container {
  background-color: yellow;
  width: 300px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}
